{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <a class="btn btn-outline-primary my-2" style="float: right;" href="{% url 'profile' %}" title="Back">&#8592;</a>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <!-- {{ pcf.as_p }} -->
        {% if pcf.non_field_errors %}
            {% for error in pcf.non_field_errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% for field in pcf %}
            {{ field|as_crispy_field }} {{ field.errors|striptags }} <br> <br>
        {% endfor %}
        <input type="submit" value="Submit"><br><br>
    </form>
{% endblock content %}
