{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section px-0 row">
        <form action="" method="post" novalidate>
            <fieldset class="form-group">                
                <legend class="border-bottom mb-4">                    
                    <a class="btn btn-outline-primary my-2" style="float: right;" href="{% url 'profile' %}" title="Back">&#8592;</a>
                    Change Password
                </legend>             
                {% csrf_token %}
                {% if pcf.non_field_errors %}
                    {% for error in pcf.non_field_errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% for field in pcf %}
                    {{ field|as_crispy_field }} {{ field.errors|striptags }} <br> <br>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Submit</button>                
            </div>
        </form>
    </div>
{% endblock content %}
