{% extends 'app/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container px-4">
        <div class="row gx-5">
            <div class="p-3 border bg-light">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="container">
                    <a href="{% url 'addTask' %}" class="btn btn-outline-primary" style="float: right;" title="Add New Task">&#43;</a>
                    <img class="rounded-circle account-img" src="{{ user.profilemodel.profile_pic.url }}" alt="profile_pic">
                    <div class="text-container float-left">
                        <h2>Hi, {{ request.user|title }} :</h2>
                        <h3>You have {{ inc_count }} task in progress</h3>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="p-3 border bg-light">
                {% if tasks|length == 0 %}
                    <div>
                        <div class="alert alert-success text-center" role="alert">
                            Add Task!
                        </div>
                    </div>
                {% else %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Status</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        {% if task.status == True %}
                                            <strike><a href="{% url 'updateTask' task.id %}">{{ task.title }}</a></strike>
                                        {% else %}
                                            <span><a href="{% url 'updateTask' task.id %}">{{ task.title }}</a></span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if task.status == False %}
                                            <a href="{% url 'changeStatus' task.id task.status %}" title="Done" style="color: green;">&#10003;</a>
                                        {% else %}
                                            <a href="{% url 'changeStatus' task.id task.status %}" title="In Progress" style="color: rgb(205, 169, 50);">&#10227;</a>
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'deleteTask' task.id %}" title="Delete" style="color: red;">&#215;</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}