{% extends 'app/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section px-0 row">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container mt-3">
            <div class="media">
                <a href="{% url 'addTask' %}" class="btn btn-outline-primary" style="float: right; text-decoration: none;" title="Add New Task">&#43;</a>
                <img class="rounded-circle account-img" src="{{ user.profilemodel.profile_pic.url }}" alt="profile_pic">
                <div class="text-container">
                    <h2>Hi, {{ request.user|title }} :</h2>
                    <h3>You have {{ inc_count }} task{{ inc_count|pluralize:"s" }} in progress</h3>
                </div>
            </div>                    
        </div>
        {% if tasks|length == 0 %}
            <div>
                <div class="alert alert-success text-center" role="alert">
                    Add Task!
                </div>
            </div>
        {% else %}
            <div class="container">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">Title</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col" class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                <td>
                                    {% if task.status == True %}
                                        <strike><a href="{% url 'updateTask' task.id %}" title="Update Task" style="color: #5674a5;">{{ task.title }}</a></strike>
                                    {% else %}
                                        <span><a href="{% url 'updateTask' task.id %}" title="Update Task" style="color: #5674a5;">{{ task.title }}</a></span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if task.status == False %}
                                        <a href="{% url 'changeStatus' task.id task.status %}" title="Mark Done" style="color: green; text-decoration: none; font-size: 20px;">&#10003;</a>
                                    {% else %}
                                        <a href="{% url 'changeStatus' task.id task.status %}" title="Mark In Progress" style="color: rgb(205, 169, 50); text-decoration: none; font-size: 20px;">&#10227;</a>
                                    {% endif %}
                                </td>
                                <td class="text-center"><a href="{% url 'deleteTask' task.id %}" title="Delete" style="color: red; text-align: center; text-decoration: none; font-size: 22px;">&#215;</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock content %}