{% extends 'app/layout.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="content-section px-0 row">       
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">                
                <legend class="border-bottom mb-4">                    
                    Sign Up
                </legend>
                {{ forms|crispy }}
            </fieldset>
            <div class="form-group my-2">
                <button class="btn btn-outline-primary" type="submit">Sign Up</button>                
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'signin' %}">Sign In</a>
            </small>
        </div>
    </div>    
{% endblock content %}